# SQL Data Query Language - One Page (Syntax Only)

- This page contains query examples only as a syntax reference.

# 4 FILTERING

## 4a. Filtering - Distinct

```SQL
SELECT DISTINCT 
    country
FROM 
    sales.customers
```

## 4b. Filtering - AND, OR, IN

```SQL
SELECT 
    product_name,
    brand_id,
    list_price
FROM 
    production.products
WHERE
    (brand_id 1 OR brand_id = 2)
AND
    list_price > 40
```

----

```SQL
SELECT 
    product_id,
    brand_id
FROM
    products
WHERE
    brand_id IN(1,2,3,4)
```

## 4c. Filtering - Between, Not Between

```SQL
SELECT
    product_id,
    product_name,
    list_price
FROM
    production.products
WHERE
    list_price NOT BETWEEN 149.99 AND 199.99
```

----

```SQL
SELECT 
    order_id,
    order_date
FROM
    orders
WHERE
    order_date BETWEEN '20170115' AND '20170117
```

---

## 4d. Filtering - LIKE

```SQL
WHERE
    last_name LIKE 'z%'
```

```SQL
WHERE
    last_name LIKE '%er'
```

```SQL
WHERE
    last_name LIKE 't%s'
```

```SQL
WHERE
    last_name LIKE '_u%'
```

```SQL
WHERE
    last_name LIKE '[ZY]%'
```

```SQL
WHERE
    last_name LIKE '[^A-X]%'
```

```SQL
WHERE 
    comment LIKE '%30!%%' ESCAPE '!'
```

## 4e. Filtering - Column Aliases

```SQL
SELECT
    first_name + ' ' + last_name AS full_name
```

```SQL
SELECT
    first_name + ' ' + last_name AS 'Full Name'
```

```SQL
SELECT
    c.customer_id,
    first_name,
FROM
    sales.customers c
INNER JOIN sales.orders o ON o.customer_id = c.customer_id
```